@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");

:root {
    --border-radius: 0.625rem;
    --border: 1px solid #e7e7e7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: "Geist", sans-serif;
    font-size: 1rem;
    border: var(--border);
    background-color: transparent;
    transition: background-color 0.25s ease;
    cursor: pointer;

    &:hover {
        background-color: unset;
    }
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: "Geist", sans-serif;
    line-height: 1.65;
    color: #444444;
    padding: 2rem;

    h2 {
        font-size: 1.375rem;
        font-weight: 600;
    }

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #cccccc;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #bbbbbb;
    }
}

main {
    width: 65vw;

    nav {
        display: flex;
        gap: 0.625rem;
        align-items: center;

        .search__box {
            margin-inline-end: auto;

            search {
                input {
                    min-width: 25rem;
                    max-width: 40rem;
                    font-size: 1.125rem;
                    padding: 0.625rem;
                    outline: none;
                    border: var(--border);
                    border-radius: var(--border-radius);
                    field-sizing: content;
                    transition: box-shadow ease-in-out 0.15s;

                    &:focus {
                        box-shadow: 0 0 0 0.125rem white,
                            0 0 0.0625rem 0.25rem #e7e7e7;
                    }
                }
            }
        }

        .sort__options {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            select {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.625rem;

                &,
                &::picker(select) {
                    appearance: base-select;
                    border: 0.0625rem solid #eaeaea;
                    border-radius: 0.875rem;
                }

                &::picker(select) {
                    margin-block: 0.3125rem;
                    max-height: 15rem;
                    border-radius: 0.875rem;
                    box-shadow: 0 0 0.875rem 0.75rem #f0f0f0;
                    opacity: 0;
                    transition: all 0.4s ease;
                    transition-behavior: allow-discrete;
                }

                &:hover {
                    background-color: unset;
                }

                &::picker-icon {
                    display: none;
                }

                .select-arrow {
                    transition: rotate 0.4s ease;
                }

                &:open .select-arrow {
                    rotate: 180deg;
                }

                selectedcontent > * {
                    transition: transform 0.5s cubic-bezier(0.35, 1.55, 0.65, 1),
                        opacity 0.5s;

                    @starting-style {
                        opacity: 0;
                        transform: translate(0, 100%);
                    }
                }

                #option-container {
                    display: flex;
                    flex-direction: column;
                    gap: 0.3125rem;
                    padding: 0.3125rem;

                    option {
                        padding-block: 0.3125rem;
                        padding-inline: 0.625rem;
                        border-radius: 0.5rem;
                        transition: background-color 0.2s ease;

                        &::checkmark {
                            content: "";
                            width: 0.5rem;
                            height: 0.5rem;
                            background-color: rgb(0, 100, 0);
                            border-radius: 50%;
                        }

                        &:checked {
                            background-color: rgba(0, 100, 0, 0.125);
                        }

                        &:hover {
                            background-color: #e7e7e7bf;
                        }
                    }
                }

                &:open::picker(select) {
                    opacity: 1;

                    @starting-style {
                        opacity: 0;
                    }
                }

                &::picker(select)::-webkit-scrollbar {
                    width: 0.3125rem;
                }

                &::picker(select)::-webkit-scrollbar-thumb {
                    background-color: #dddddd;
                    border-radius: 1rem;
                }

                &::picker(select)::-webkit-scrollbar-thumb:hover {
                    background-color: #bbbbbb;
                }
            }
        }

        .viewing__layout {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.3125rem;
            height: 3.025rem;
            padding: 0.3125rem;
            border: var(--border);
            border-radius: calc(var(--border-radius) * 1.2);

            button {
                display: grid;
                place-content: center;
                width: 2.275rem;
                height: 2.275rem;
                border: none;
                border-radius: var(--border-radius);

                svg {
                    stroke: #444444;
                    pointer-events: none;
                }

                &.active {
                    background-color: #e7e7e7bf;
                }
            }
        }
    }

    section.show__books.view__grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1.5rem;
        margin-block-start: 2rem;

        a {
            height: fit-content;
            color: inherit;
            text-decoration: none;

            .book__card {
                border-radius: calc(var(--border-radius) * 2);
                box-shadow: 0 0 0.5rem 0.5rem #f0f0f0;
                overflow: hidden;

                .thumbnail__wapper {
                    img {
                        width: 100%;
                        height: 10rem;
                        object-fit: cover;
                        object-position: top;
                    }
                }

                .content__wapper {
                    padding: 1rem;

                    h3 {
                        font-size: 1rem;
                    }

                    > div {
                        display: grid;
                        gap: 0.25rem;
                        margin-block-start: 0.875rem;

                        h4 {
                            font-size: 0.875rem;
                        }

                        p,
                        time {
                            font-size: 0.75rem;
                        }
                    }
                }
            }
        }
    }

    section.show__books.view__list {
        display: grid;
        gap: 1.5rem;
        margin-block-start: 2rem;

        a {
            color: inherit;
            text-decoration: none;

            .book__card {
                display: flex;
                align-items: center;
                gap: 1rem;
                border-radius: calc(var(--border-radius) * 2);
                box-shadow: 0 0 0.5rem 0.5rem #f0f0f0;
                overflow: hidden;

                .thumbnail__wapper {
                    display: flex;
                    width: 15%;

                    img {
                        width: 100%;
                        height: 11.25rem;
                        object-fit: cover;
                        object-position: top;
                    }
                }

                .content__wapper {
                    width: 85%;
                    height: 100%;
                    padding: 1rem;

                    h3 {
                        font-size: 1.25rem;
                    }

                    > div {
                        display: grid;
                        gap: 0.25rem;
                        margin-block-start: 0.875rem;

                        h4 {
                            font-size: 1rem;
                        }

                        p,
                        time {
                            font-size: 0.875rem;
                        }
                    }
                }
            }
        }
    }

    section.pagination {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-block-start: 4rem;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5rem;
            height: 2.5rem;
            padding: 0.5rem;
            border-radius: var(--border-radius);
        }

        > div {
            display: flex;
            gap: 0.5rem;

            > span {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.75rem;
                height: 1.75rem;
                border: var(--border);
                border-radius: 50%;
                cursor: pointer;

                &.page__active {
                    background-color: #e7e7e7bf;
                }
            }
        }
    }
}
